<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home !</title>
</head>
<body>
    
    <p>WellCome Home Page !</p>
    <hr>
    <hr>
    <hr>    
        <p><a href="/users">Goto Users</a></p>
    <hr>
    <hr>
        <p><a href="/todos">Goto Todos</a></p>
    <hr>
    <hr>
    <hr>
    <a href="/logout">Logout And Clear Session</a>
</body>
</html>