<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos Page !</title>
</head>
<body>
    <p>TODOS</p>
    <hr></hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae rem atque consequuntur amet natus repellendus, excepturi, nam cum esse sint quo praesentium perspiciatis unde quibusdam ad hic blanditiis error consectetur?</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, possimus doloribus voluptate commodi numquam incidunt quas consectetur laboriosam obcaecati cumque ipsam impedit. Nulla necessitatibus, porro alias repudiandae sit tempore dolorum.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, possimus doloribus voluptate commodi numquam incidunt quas consectetur laboriosam obcaecati cumque ipsam impedit. Nulla necessitatibus, porro alias repudiandae sit tempore dolorum.</p>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, possimus doloribus voluptate commodi numquam incidunt quas consectetur laboriosam obcaecati cumque ipsam impedit. Nulla necessitatibus, porro alias repudiandae sit tempore dolorum.</p>
    <hr>
</body>
</html>